apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: monitoring
data:
  alertmanager.yml: |-
    global:
      resolve_timeout: 5m

    route:
      # Agrupamento genérico: se 10 pods derem ErrImagePull, 
      # ele agrupa em uma única notificação para o Orchestrator.
      group_by: ['alertname', 'namespace', 'severity', 'app']
      group_wait: 10s
      group_interval: 30s
      repeat_interval: 1h
      
      # Receptor padrão (Catch-all)
      receiver: 'orchestrator'

      routes:
        # Rota Genérica para Nível Crítico
        - matchers:
            - severity =~ "critical|warning"
          receiver: 'orchestrator'
          continue: false

    receivers:
    - name: 'orchestrator'
      webhook_configs:
      - url: 'http://agent-team.ai-ops.svc.cluster.local:8080/alert'
        send_resolved: true