apiVersion: v1
kind: PersistentVolume
metadata:
  name: nvme-storage-pv
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 50Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /home/marcelo/lab-infra-repo/data
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nvme-storage-pvc
  namespace: ai-ops
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
